{
  "swagger": "2.0",
  "info": {
    "title": "Infinimesh IoT Platform",
    "description": "Cloud Native IoT Platform",
    "version": "0.0.1",
    "contact": {
      "name": "Infinimesh",
      "url": "http://infinimesh.io",
      "email": "joe@infinimesh.io"
    }
  },
  "host": "api.infinimesh.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/devices": {
      "get": {
        "operationId": "List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryListResponse"
            }
          }
        },
        "tags": [
          "Devices"
        ]
      },
      "post": {
        "operationId": "Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryCreateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deviceregistryDevice"
            }
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/{device_id}/reported": {
      "get": {
        "operationId": "GetReported",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/shadowGetReportedResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Shadow"
        ]
      }
    },
    "/devices/{name}": {
      "get": {
        "operationId": "GetByName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryGetByNameResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      },
      "delete": {
        "operationId": "Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryDeleteResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    }
  },
  "definitions": {
    "deviceregistryCertificate": {
      "type": "object",
      "properties": {
        "pem_data": {
          "type": "string"
        },
        "algorithm": {
          "type": "string"
        },
        "valid_to": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "deviceregistryCreateResponse": {
      "type": "object",
      "properties": {
        "fingerprint": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "deviceregistryDeleteResponse": {
      "type": "object"
    },
    "deviceregistryDevice": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "format": "boolean"
        },
        "certificate": {
          "$ref": "#/definitions/deviceregistryCertificate"
        }
      }
    },
    "deviceregistryGetByNameResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "format": "boolean"
        }
      }
    },
    "deviceregistryListResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/deviceregistryDevice"
          }
        }
      }
    },
    "protobufListValue": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufValue"
          },
          "description": "Repeated field of dynamically typed values."
        }
      },
      "description": "`ListValue` is a wrapper around a repeated field of values.\n\nThe JSON representation for `ListValue` is JSON array."
    },
    "protobufNullValue": {
      "type": "string",
      "enum": [
        "NULL_VALUE"
      ],
      "default": "NULL_VALUE",
      "description": "`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\n The JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value."
    },
    "protobufStruct": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufValue"
          },
          "description": "Unordered map of dynamically typed values."
        }
      },
      "description": "`Struct` represents a structured data value, consisting of fields\nwhich map to dynamically typed values. In some languages, `Struct`\nmight be supported by a native representation. For example, in\nscripting languages like JS a struct is represented as an\nobject. The details of that representation are described together\nwith the proto support for the language.\n\nThe JSON representation for `Struct` is JSON object."
    },
    "protobufValue": {
      "type": "object",
      "properties": {
        "null_value": {
          "$ref": "#/definitions/protobufNullValue",
          "description": "Represents a null value."
        },
        "number_value": {
          "type": "number",
          "format": "double",
          "description": "Represents a double value."
        },
        "string_value": {
          "type": "string",
          "description": "Represents a string value."
        },
        "bool_value": {
          "type": "boolean",
          "format": "boolean",
          "description": "Represents a boolean value."
        },
        "struct_value": {
          "$ref": "#/definitions/protobufStruct",
          "description": "Represents a structured value."
        },
        "list_value": {
          "$ref": "#/definitions/protobufListValue",
          "description": "Represents a repeated `Value`."
        }
      },
      "description": "`Value` represents a dynamically typed value which can be either\nnull, a number, a string, a boolean, a recursive struct value, or a\nlist of values. A producer of value is expected to set one of that\nvariants, absence of any variant indicates an error.\n\nThe JSON representation for `Value` is JSON value."
    },
    "shadowGetReportedResponse": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/protobufValue"
        }
      }
    }
  }
}
