{
  "swagger": "2.0",
  "info": {
    "title": "Infinimesh IoT Platform",
    "description": "Cloud Native IoT Platform",
    "version": "0.0.10",
    "contact": {
      "name": "Infinimesh",
      "url": "https://infinitedevices.io",
      "email": "engineering@infinitedevices.io"
    }
  },
  "tags": [
    {
      "name": "Devices"
    },
    {
      "name": "States"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "Objects"
    },
    {
      "name": "Namespaces"
    },
    {
      "name": "AccountService"
    },
    {
      "name": "ObjectService"
    },
    {
      "name": "Namespaces"
    },
    {
      "name": "Devices"
    },
    {
      "name": "Shadows"
    },
    {
      "name": "AccountsService"
    },
    {
      "name": "Repos"
    }
  ],
  "host": "api.infinimesh.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/event-stream"
  ],
  "produces": [
    "application/json",
    "text/event-stream"
  ],
  "paths": {
    "/account": {
      "get": {
        "operationId": "Accounts_SelfAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/infinimeshnodeAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/account/token": {
      "post": {
        "operationId": "Accounts_Token",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/infinimeshapiTokenResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/infinimeshapiTokenRequest"
            }
          }
        ],
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts": {
      "get": {
        "operationId": "Accounts_ListAccounts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeListAccountsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      },
      "post": {
        "operationId": "Accounts_CreateUserAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeCreateUserAccountResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/nodeCreateUserAccountRequest"
            }
          }
        ],
        "tags": [
          "Accounts"
        ]
      },
      "put": {
        "operationId": "AccountsService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeaccountsCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/nodeaccountsCreateRequest"
            }
          }
        ],
        "tags": [
          "AccountsService"
        ]
      }
    },
    "/accounts/{account.uid}": {
      "patch": {
        "operationId": "Accounts_UpdateAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeUpdateAccountResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "account.uid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/infinimeshnodeAccount"
            }
          },
          {
            "name": "fieldMask",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountid}/owner/{ownerid}": {
      "delete": {
        "operationId": "Accounts_RemoveOwner",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeOwnershipResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "accountid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Accounts"
        ]
      },
      "put": {
        "operationId": "Accounts_AssignOwner",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeOwnershipResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "accountid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{id}": {
      "get": {
        "operationId": "Accounts_GetAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/infinimeshnodeAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{uid}": {
      "delete": {
        "operationId": "Accounts_DeleteAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeDeleteAccountResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "harddelete",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Accounts"
        ]
      }
    },
    "/devices": {
      "get": {
        "operationId": "Devices_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceid",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      },
      "post": {
        "operationId": "Devices_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/infinimeshdeviceregistryCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/infinimeshdeviceregistryCreateRequest"
            }
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/states/all": {
      "get": {
        "operationId": "States_GetForNS",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/shadowGetForNSResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "States"
        ]
      }
    },
    "/devices/{device.id}": {
      "patch": {
        "operationId": "Devices_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "device.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deviceregistryDevice"
            }
          },
          {
            "name": "fieldMask",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/{deviceid}/owner/{ownerid}": {
      "delete": {
        "operationId": "Devices_RemoveOwnerDevices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryOwnershipResponseDevices"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "deviceid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      },
      "put": {
        "operationId": "Devices_AssignOwnerDevices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryOwnershipResponseDevices"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "deviceid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/{id}": {
      "get": {
        "operationId": "Devices_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/infinimeshdeviceregistryGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      },
      "delete": {
        "operationId": "Devices_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/{id}/state": {
      "get": {
        "operationId": "States_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/infinimeshshadowGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "States"
        ]
      },
      "patch": {
        "operationId": "States_PatchDesiredState",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/shadowPatchDesiredStateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "tags": [
          "States"
        ]
      }
    },
    "/devices/{id}/state/stream": {
      "get": {
        "operationId": "States_StreamReportedStateChanges",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/shadowStreamReportedStateChangesResponse"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of shadowStreamReportedStateChangesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "onlyDelta",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "States"
        ]
      }
    },
    "/namespaces": {
      "get": {
        "operationId": "Namespaces_ListNamespaces",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeListNamespacesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Namespaces"
        ]
      },
      "post": {
        "operationId": "Namespaces_CreateNamespace",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeNamespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/nodeCreateNamespaceRequest"
            }
          }
        ],
        "tags": [
          "Namespaces"
        ]
      }
    },
    "/namespaces/{namespace.id}": {
      "patch": {
        "operationId": "Namespaces_UpdateNamespace",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeUpdateNamespaceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/nodeNamespace"
            }
          },
          {
            "name": "namespaceMask",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Namespaces"
        ]
      }
    },
    "/namespaces/{namespaceid}/{harddelete}": {
      "delete": {
        "operationId": "Namespaces_DeleteNamespace",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeDeleteNamespaceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "harddelete",
            "in": "path",
            "required": true,
            "type": "boolean"
          }
        ],
        "tags": [
          "Namespaces"
        ]
      }
    },
    "/namespaces/{namespace}": {
      "get": {
        "operationId": "Namespaces_GetNamespace",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeNamespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Namespaces"
        ]
      }
    },
    "/namespaces/{namespace}/permissions": {
      "get": {
        "operationId": "Namespaces_ListPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeListPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Namespaces"
        ]
      }
    },
    "/namespaces/{namespace}/permissions/{accountId}": {
      "delete": {
        "operationId": "Namespaces_DeletePermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeDeletePermissionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Namespaces"
        ]
      },
      "put": {
        "operationId": "Namespaces_CreatePermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiCreateNamespacePermissionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/infinimeshapiPermission"
            }
          }
        ],
        "tags": [
          "Namespaces"
        ]
      }
    },
    "/objects": {
      "get": {
        "operationId": "Objects_ListObjects",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeListObjectsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "recurse",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Objects"
        ]
      },
      "post": {
        "operationId": "Objects_CreateObject",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeObject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/infinimeshapiCreateObjectRequest"
            }
          }
        ],
        "tags": [
          "Objects"
        ]
      }
    },
    "/objects/{uid}": {
      "delete": {
        "operationId": "Objects_DeleteObject",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/nodeDeleteObjectResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Objects"
        ]
      }
    },
    "/token": {
      "post": {
        "operationId": "AccountsService_Token",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/infinimeshnodeTokenResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/infinimeshnodeTokenRequest"
            }
          }
        ],
        "tags": [
          "AccountsService"
        ]
      }
    }
  },
  "definitions": {
    "accountsCredentials": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "apiCreateNamespacePermissionResponse": {
      "type": "object"
    },
    "apiRestrictionRule": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "deviceregistryCertificate": {
      "type": "object",
      "properties": {
        "pemData": {
          "type": "string"
        },
        "algorithm": {
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "format": "byte"
        },
        "fingerprintAlgorithm": {
          "type": "string"
        }
      }
    },
    "deviceregistryDeleteResponse": {
      "type": "object"
    },
    "deviceregistryDevice": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "certificate": {
          "$ref": "#/definitions/deviceregistryCertificate"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "namespace": {
          "type": "string"
        },
        "basicEnabled": {
          "type": "boolean"
        }
      }
    },
    "deviceregistryGetByFingerprintResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/deviceregistryDevice"
          }
        }
      }
    },
    "deviceregistryGetDeviceStatusResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        }
      }
    },
    "deviceregistryListResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/deviceregistryDevice"
          }
        }
      }
    },
    "deviceregistryOwnershipResponseDevices": {
      "type": "object"
    },
    "deviceregistryUpdateResponse": {
      "type": "object"
    },
    "infinimeshapiCreateObjectRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "object": {
          "$ref": "#/definitions/nodeObject"
        }
      }
    },
    "infinimeshapiPermission": {
      "type": "object",
      "properties": {
        "action": {
          "$ref": "#/definitions/nodeAction"
        }
      },
      "description": "Permission.Action may either be NONE, READ or WRITE."
    },
    "infinimeshapiTokenRequest": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "expireTime": {
          "type": "string"
        },
        "ruleset": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiRestrictionRule"
          }
        }
      }
    },
    "infinimeshapiTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        }
      }
    },
    "infinimeshdeviceregistryCreateRequest": {
      "type": "object",
      "properties": {
        "device": {
          "$ref": "#/definitions/deviceregistryDevice"
        }
      }
    },
    "infinimeshdeviceregistryCreateResponse": {
      "type": "object",
      "properties": {
        "device": {
          "$ref": "#/definitions/deviceregistryDevice"
        }
      }
    },
    "infinimeshdeviceregistryGetResponse": {
      "type": "object",
      "properties": {
        "device": {
          "$ref": "#/definitions/deviceregistryDevice"
        }
      }
    },
    "infinimeshnodeAccount": {
      "type": "object",
      "properties": {
        "uid": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "isRoot": {
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean"
        },
        "defaultNamespace": {
          "$ref": "#/definitions/nodeNamespace"
        },
        "password": {
          "type": "string"
        },
        "isAdmin": {
          "type": "boolean"
        },
        "owner": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      }
    },
    "infinimeshnodePermission": {
      "type": "object",
      "properties": {
        "namespace": {
          "type": "string"
        },
        "accountId": {
          "type": "string"
        },
        "accountName": {
          "type": "string"
        },
        "action": {
          "$ref": "#/definitions/nodeAction"
        }
      }
    },
    "infinimeshnodeTokenRequest": {
      "type": "object",
      "properties": {
        "auth": {
          "$ref": "#/definitions/accountsCredentials"
        },
        "exp": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "infinimeshnodeTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        }
      }
    },
    "infinimeshshadowGetResponse": {
      "type": "object",
      "properties": {
        "shadow": {
          "$ref": "#/definitions/shadowShadow"
        }
      }
    },
    "nodeAction": {
      "type": "string",
      "enum": [
        "NONE",
        "READ",
        "WRITE"
      ],
      "default": "NONE"
    },
    "nodeAuthenticateResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "account": {
          "$ref": "#/definitions/infinimeshnodeAccount"
        },
        "defaultNamespace": {
          "type": "string"
        }
      }
    },
    "nodeAuthorizeNamespaceResponse": {
      "type": "object"
    },
    "nodeAuthorizeResponse": {
      "type": "object"
    },
    "nodeCreateNamespaceRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "nodeCreateUserAccountRequest": {
      "type": "object",
      "properties": {
        "account": {
          "$ref": "#/definitions/infinimeshnodeAccount"
        },
        "password": {
          "type": "string"
        },
        "createGfUser": {
          "type": "boolean"
        }
      }
    },
    "nodeCreateUserAccountResponse": {
      "type": "object",
      "properties": {
        "uid": {
          "type": "string"
        }
      }
    },
    "nodeDeleteAccountResponse": {
      "type": "object"
    },
    "nodeDeleteNamespaceResponse": {
      "type": "object"
    },
    "nodeDeleteObjectResponse": {
      "type": "object"
    },
    "nodeDeletePermissionResponse": {
      "type": "object"
    },
    "nodeIsAdminResponse": {
      "type": "object",
      "properties": {
        "isAdmin": {
          "type": "boolean"
        }
      }
    },
    "nodeIsAuthorizedNamespaceResponse": {
      "type": "object",
      "properties": {
        "decision": {
          "type": "boolean"
        }
      }
    },
    "nodeIsAuthorizedResponse": {
      "type": "object",
      "properties": {
        "decision": {
          "type": "boolean"
        }
      }
    },
    "nodeIsRootResponse": {
      "type": "object",
      "properties": {
        "isRoot": {
          "type": "boolean"
        }
      }
    },
    "nodeListAccountsResponse": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/infinimeshnodeAccount"
          }
        }
      }
    },
    "nodeListNamespacesResponse": {
      "type": "object",
      "properties": {
        "namespaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/nodeNamespace"
          }
        }
      }
    },
    "nodeListObjectsResponse": {
      "type": "object",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/nodeObject"
          }
        }
      }
    },
    "nodeListPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/infinimeshnodePermission"
          }
        }
      }
    },
    "nodeNamespace": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "markfordeletion": {
          "type": "boolean"
        },
        "deleteinitiationtime": {
          "type": "string"
        },
        "RetentionPeriod": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "nodeObject": {
      "type": "object",
      "properties": {
        "uid": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/nodeObject"
          }
        }
      }
    },
    "nodeOwnershipResponse": {
      "type": "object"
    },
    "nodeSetPasswordResponse": {
      "type": "object"
    },
    "nodeUpdateAccountResponse": {
      "type": "object"
    },
    "nodeUpdateNamespaceResponse": {
      "type": "object"
    },
    "nodeaccountsAccount": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "nodeaccountsCreateRequest": {
      "type": "object",
      "properties": {
        "account": {
          "$ref": "#/definitions/nodeaccountsAccount"
        },
        "credentials": {
          "$ref": "#/definitions/accountsCredentials"
        },
        "namespace": {
          "type": "string"
        },
        "access": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "nodeaccountsCreateResponse": {
      "type": "object",
      "properties": {
        "account": {
          "$ref": "#/definitions/nodeaccountsAccount"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "protobufNullValue": {
      "type": "string",
      "enum": [
        "NULL_VALUE"
      ],
      "default": "NULL_VALUE",
      "description": "`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\n The JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value."
    },
    "repopbDeleteDeviceStateResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        }
      }
    },
    "repopbRepo": {
      "type": "object",
      "properties": {
        "Enabled": {
          "type": "boolean"
        },
        "FingerPrint": {
          "type": "string",
          "format": "byte"
        },
        "NamespaceID": {
          "type": "string"
        },
        "BasicEnabled": {
          "type": "boolean"
        }
      }
    },
    "repopbSetDeviceStateResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        }
      }
    },
    "reporepopbGetResponse": {
      "type": "object",
      "properties": {
        "repo": {
          "$ref": "#/definitions/repopbRepo"
        }
      }
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "shadowGetForNSResponse": {
      "type": "object",
      "properties": {
        "pool": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/shadowShadow"
          }
        }
      }
    },
    "shadowPatchDesiredStateResponse": {
      "type": "object"
    },
    "shadowShadow": {
      "type": "object",
      "properties": {
        "config": {
          "$ref": "#/definitions/shadowVersionedValue"
        },
        "reported": {
          "$ref": "#/definitions/shadowVersionedValue"
        },
        "desired": {
          "$ref": "#/definitions/shadowVersionedValue"
        }
      }
    },
    "shadowStreamReportedStateChangesResponse": {
      "type": "object",
      "properties": {
        "reportedState": {
          "$ref": "#/definitions/shadowVersionedValue"
        },
        "desiredState": {
          "$ref": "#/definitions/shadowVersionedValue"
        }
      }
    },
    "shadowVersionedValue": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "format": "uint64"
        },
        "data": {
          "type": "object"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  }
}
