<div [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'"
     class="header-container">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" class="navigation" href="#"><i class="nb-menu"></i></a>
    <img id="logo" src="/assets/infinimesh_logo.png" alt="infinimesh Logo"/>
    <div (click)="goToHome()" class="logo">infinimesh<span>.io</span></div>
  </div>
</div>

<div class="header-container">
  <nb-select placeholder="Select Namespace" [(selected)]="selectedNamespace" (selectedChange)="namespaceSelectionChanged($event)">
    <nb-option *ngFor="let namespace of namespaces" [value]="namespace">
      NS: {{namespace.name}}
    </nb-option>
  </nb-select>
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action>
      <nb-user [nbContextMenu]="userMenu" [nbContextMenuTag]="'header-menu'" [name]="user?.name"></nb-user>
    </nb-action>
  </nb-actions>
</div>
