body {
  /* Basic variables */
  --primary-color: #104e83;
  --primary-color-secondary: white;
  --line-color: var(--primary-color);

  --success-color: #52c41a;
  --switch-color: #5d8eb7;

  --btn-default-border: white;
  --btn-group-border: white;

  /* Border styles */
  --border-muted: solid 1px rgba(255, 255, 255, 0.5) !important;
  --shadow-color: 3px 3px 7px 2px rgba(0, 0, 0, 0.3);
  --border-color-split: var(--primary-color-secondary);
  --border-radius-base: 0.5rem;
  --border-radius-sm: 0.5rem;
  --border-color-base: white;
  --border-base: 1px dashed var(--line-color);

  /* Font style */
  --text-color: white;
  --heading-color: white;
  --font-size-xl: 25px;
  --font-weight-default: 500;
  --font-family-default: Exo;
}

/* Custom tags */
strong {
  color: black;
  font-style: bold;
}

/* Custom classes */
.lead {
  font-size: 2rem;
  color: var(--line-color);
}

/* AntDesign Classes Overloads */
.ant-btn-primary {
  border-color: var(--btn-default-border);
}

.ant-btn-success {
  background-color: var(--success-color);
  border-color: transparent;
}

.ant-popover-inner {
  border: var(--border-muted);
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.3);
}

.ant-popover-arrow {
  border-right: var(--border-muted);
  border-bottom: var(--border-muted);
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.3);
}

.ant-drawer-title {
  font-size: var(--font-size-xl);
  font-family: var(--font-family-default) !important;
  font-weight: var(--font-weight-default) !important;
}

.ant-empty-description {
  color: white;
}

.ant-select-selection-selected-value {
  color: black;
}

.ant-pagination-item-active a {
  color: black !important;
}
