@import "~ant-design-vue/dist/antd.less";

// Basic variables section

// Basic style definition
@component-background: @primary-color;
@body-background: @primary-color-secondary;
@icon-color: @primary-color-secondary;
@icon-color-dark: @line-color;
@tag-default-bg: transparent;

// AntDesign Card styles
@card-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6);
@card-head-color: white;
@item-active-bg: tint(@primary-color, 10%);
@item-hover-bg: tint(@primary-color, 20%);
@select-item-selected-bg: tint(@primary-color, 10%);
@menu-bg: @component-background;
@menu-item-font-size: 1rem;

// AntDesign Menu styles
@menu-item-color: @text-color;
@menu-icon-size: 25px;
@menu-icon-size-lg: 30px;
@menu-highlight-color: white;
@menu-item-active-bg: tint(@primary-color, 10%);

// AntDesign Link styles
@link-hover-color: @primary-color;
@link-color: white;

// AntDesign Layouts styles
@layout-header-background: @component-background;
@layout-body-background: @body-background;
@layout-footer-background: @body-background;

// AntDesign Table styles
@table-header-bg: @primary-color;
@table-header-sort-bg: @primary-color;

// AntDesign Select styles
@select-background: white;
