<button nbButton size="xsmall" [routerLink]="['devices']"><i class="icon ion-android-arrow-back"></i>All Devices
</button>
<ng-container *ngIf="device$ | async as device">
  <h1>{{device.name}}</h1>
  <nb-card>
    <nb-card-header>Details</nb-card-header>
    <nb-card-body>
      <p>ID: {{device.id}}</p>
      <p>Tags: {{device.tags}}</p>
      <p>Enabled: {{device.enabled ? 'Yes' : 'No'}}</p>
    </nb-card-body>
  </nb-card>
</ng-container>
<ng-container *ngIf="state">
  <nb-card>
    <nb-card-header>State</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-6">
          <h2>Reported</h2>
          <p><strong>Version:</strong> {{state?.reported?.version}}</p>
          <p><strong>Updated:</strong> {{state?.reported?.timestamp | date: 'long'}}</p>
          <pre [ngClass]="{'updated': reportedStateUpdated}">{{JSON.stringify(state?.reported?.data, null, 2)}}</pre>
        </div>
        <div class="col-md-6">
          <h2>Desired</h2>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Version:</strong> {{state?.desired?.version}}</p>
              <p><strong>Updated:</strong> {{state?.desired?.timestamp | date: 'long'}}</p>
            </div>
            <div class="col-md-6 text-right action-bar">
              <ng-container *ngIf="!editDesiredStateStatus">
                <button nbButton (click)="editDesiredState()"><i class="icon ion-android-create"></i> Edit
                </button>
              </ng-container>
              <ng-container *ngIf="editDesiredStateStatus">
                <button nbButton outline status="primary"  (click)="editDesiredStateStatus = false">Cancel
                </button>
                <button nbButton (click)="updateDesiredState()"><i class="icon ion-android-checkmark-circle"></i> Save
                </button>
              </ng-container>
            </div>
          </div>
          <pre [ngClass]="{'updated': desiredStateUpdated}"
               *ngIf="!editDesiredStateStatus">{{JSON.stringify(state?.desired?.data, null, 2)}}</pre>
          <textarea nbInput fullWidth rows="15" *ngIf="editDesiredStateStatus"
                    [(ngModel)]="desiredState">
          </textarea>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-container>

