pre {
  color: white;
  background: rgba(255,255,255,0.1);
  border-radius: 0.5rem;
  padding: 10px;
}

pre.updated {
  transition: color 0.4s ease-in, text-shadow 0.4s ease-in, background-color 0.5s linear 0s;
  background: rgba(255,255,255,0.2);
}

textarea {
  font-family: monospace, monospace;
  font-size: 1em;
}
