:root {
  --infinimesh-purple: #673ab7;
}

.gay-theme-nav {
  background: var(--infinimesh-purple);
  max-height: 64px;
}

.gay-theme-nav .menu-control {
  font-size: 25px !important;
}

a.menu-control,
a.menu-control:hover,
a.menu-control:focus {
  color: white;
}
