// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$infinimesh-purple: #673ab7;
$infinimesh-purple-dark: #4E219E;
$infinimesh-green: #779A0B;
$infinimesh-blue: #4aafe3;

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 0rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-main: Roboto,
  font-secondary: Exo,
  switcher-background: #ebeff5,
  switcher-background-percentage: 50%,
  drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),
  list-item-border-width: 1px,
  slide-out-container-width: 30%,
  slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,
  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #ecf2f5,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,
  ecommerce-card-border-width: 1px,
  progress-bar-background: linear-gradient(90deg, #3edd81 0%, #3bddaf 100%),
), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  color-bg: $infinimesh-purple,
  color-bg-active: $infinimesh-purple-dark,
  color-fg: #a1a1e5,
  color-fg-heading: #ffffff,
  color-fg-text: #d1d1ff,
  color-fg-highlight: #4aafe3,
  color-gray: rgba(81, 113, 165, 0.15),
  color-neutral: transparent,
  color-white: #ffffff,
  color-disabled: rgba(255, 255, 255, 0.4),
  color-primary: $infinimesh-blue,
  color-success: $infinimesh-green,
  color-info: #0088ff,
  color-warning: #ffa100,
  color-danger: #ff386a,
  link-color: $infinimesh-blue,
  link-color-hover: lighten($infinimesh-blue, 10%),
  separator: #342e73,
  shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6),
  card-header-font-weight: font-weight-bolder,
  layout-bg: #4E219E,
  sidebar-header-gap: 0rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-main: Roboto,
  font-secondary: Exo,
  switcher-background: #623987,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#a258fe, #7958fa),
  list-item-border-width: 1px,
  slide-out-container-width: 30%,
  slide-out-background: radial-gradient(circle, #302c6e 0%, #423f8c 100%),
  slide-out-shadow-color: 2px 0 3px rgba(19, 19, 94, 0.9),
  slide-out-shadow-color-rtl: -2px 0 3px rgba(19, 19, 94, 0.9),
  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: rgba(0, 0, 0, 0.1),
  chart-panel-summary-border-color: #332e73,
  chart-panel-summary-border-width: 1px,
  ecommerce-card-border-width: 1px,
  progress-bar-background: linear-gradient(90deg, #00c7c7 0%, #00d977 100%),
), cosmic, cosmic);

/* Global styles */
.action-bar {
  text-align: right;

  button {
    margin-left: 1rem;
  }
}
