{
  "swagger": "2.0",
  "info": {
    "title": "Infinimesh IoT Platform",
    "description": "Cloud Native IoT Platform",
    "version": "0.0.1",
    "contact": {
      "name": "Infinimesh",
      "url": "http://infinimesh.io",
      "email": "joe@infinimesh.io"
    }
  },
  "host": "api.infinimesh.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/devices": {
      "get": {
        "operationId": "List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryListResponse"
            }
          }
        },
        "tags": [
          "Devices"
        ]
      },
      "post": {
        "operationId": "Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryCreateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deviceregistryDevice"
            }
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/{name}": {
      "get": {
        "operationId": "GetByName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryGetByNameResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      },
      "delete": {
        "operationId": "Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/deviceregistryDeleteResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    }
  },
  "definitions": {
    "deviceregistryCertificate": {
      "type": "object",
      "properties": {
        "pem_data": {
          "type": "string"
        },
        "algorithm": {
          "type": "string"
        },
        "valid_to": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "deviceregistryCreateResponse": {
      "type": "object",
      "properties": {
        "fingerprint": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "deviceregistryDeleteResponse": {
      "type": "object"
    },
    "deviceregistryDevice": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "format": "boolean"
        },
        "certificate": {
          "$ref": "#/definitions/deviceregistryCertificate"
        }
      }
    },
    "deviceregistryGetByNameResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "format": "boolean"
        }
      }
    },
    "deviceregistryListResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/deviceregistryDevice"
          }
        }
      }
    }
  }
}
